In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\diwak\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio~=0.17 in c:\users\diwak\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\diwak\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\diwak\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\diwak\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: async-generator>=1.9 in c:\users\diwak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\diwak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\diwak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\diwak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\diwak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\diwak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\diwak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\diwak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\diwak\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\diwak\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\diwak\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\diwak\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
#first connecting to driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
# opening naukri.com page on automated chrome browser
driver.get("https://www.naukri.com/")

In [5]:
# Entering designation automated 
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
# Entering location automated
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div[1]/input")
location.send_keys('Bangalore')

In [7]:
# click on search button automated
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div[1]/div[6]")
search.click()

In [12]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [13]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job_location from given page  
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# scraping company_name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping experience_required from given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [14]:
print(len(job_title),
      len(job_location),
          len(company_name),len(experience_required))

10 10 10 10

In [15]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Analyst - Pharma/hls Domain (4-9 Years),"Bangalore/Bengaluru, Mumbai, Pune, Gurgaon/Gur...",Fractal Analytics,10-20 Yrs
1,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
2,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
3,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
4,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs
6,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
7,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
8,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
9,Data Analyst | Google App Script,"Bangalore/Bengaluru, Mumbai",Webengage,3-6 Yrs

In [16]:
driver.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
    location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [17]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [18]:
#first connecting to driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [19]:
# opening naukri.com page on automated chrome browser
driver.get("https://www.naukri.com/")

In [20]:
# Entering designation automated 
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [21]:
# Entering location automated
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [22]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [23]:
job_title=[]
job_location=[]
company_name=[]

In [24]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job_location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company_name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [25]:
print(len(job_title),len(job_location), len(company_name))

10 10 10

In [26]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
4,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS)
5,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
6,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
8,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies
9,Lead Artificial Intelligence Specialist,Bangalore/Bengaluru,Baker Hughes

In [27]:
driver.close()

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below: 
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [28]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [29]:
# first connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [30]:
# opening naukri.com page on automated chrome browser
driver.get("https://www.naukri.com/")

In [31]:
# Entering designation automated 
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
designation.send_keys("Data Scientist")

In [32]:
#search clicking automated
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [34]:
#location filter 
location_Delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
location_Delhi.click()

In [35]:
#salary filter 3-6 lakhs
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary.click()

In [36]:
#creating empty list for required data
job_title=[]
job_location=[]
company_name=[]
experience=[]

In [37]:
# scraping job-title, job-location, company name, experience required from given page

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience.append(exp)

In [38]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Experience_required':experience})
df

,Job_title,Job_location,Company_name,Experience_required
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
7,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
8,Data Scientist,"Hybrid - Delhi / NCR, Noida, New Delhi, Gurgao...",Nits Solutions,3-7 Yrs
9,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs

In [39]:
driver.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [60]:
# first connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [61]:
# opening flipkart.com page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [ ]:
# closing login pop up automated
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button") 
cross.click()

In [63]:
#searching sunglasses automated

sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys('sunglasses')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [64]:
brand=[]
product_description=[]
price=[]
time.sleep(5)

In [65]:
# scraping-we will take data for 3 pages as 1 page show 40 result & we require 100

start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands[0:100]:
        brand.append(i.text)
    
    prod_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod_desc[0:100]:
        product_description.append(i.text)    
    
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices[0:100]:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [66]:
print(len(brand),len(product_description),len(price))

120 120 120

In [67]:
df=pd.DataFrame({'Brand':brand[0:100],'Product_description':product_description[0:100],'Price':price[0:100]})
df

            Brand                                Product_description Price
0       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
1            SRPM             UV Protection Wayfarer Sunglasses (50)  ₹149
2          PIRASO              UV Protection Aviator Sunglasses (58)  ₹274
3    Singco India  UV Protection, Riding Glasses Retro Square, Re...  ₹599
4        Fastrack       UV Protection Aviator Sunglasses (Free Size)  ₹633
..            ...                                                ...   ...
95  VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)  ₹829
96         PIRASO              UV Protection Aviator Sunglasses (54)  ₹208
97      Elligator                UV Protection Round Sunglasses (54)  ₹293
98          NuVew   UV Protection, Mirrored Wayfarer Sunglasses (58)   ₹99
99   Singco India  Gradient, Toughened Glass Lens, UV Protection ...  ₹664

[100 rows x 3 columns]

In [68]:
driver.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [69]:
# first connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [70]:
# opening review page on automated chrome browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [71]:
rating=[]
review_short=[]
full_review=[]
time.sleep(3)

In [72]:
# we will take data for 10 pages as 1 page show 10 result & we require 100

start=0
end=10
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings[0:100]:
        rating.append(i.text)
    
    reviewshort=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in reviewshort[0:100]:
        review_short.append(i.text)    
    
    fullreview=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fullreview[0:100]:
        full_review.append(i.text)
    next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [73]:
print(len(rating),len(review_short),len(full_review))

100 100 100

In [74]:
df=pd.DataFrame({'Rating':rating,'Review summary':review_short,'Full review':full_review})
df

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,5,Highly recommended,What a camera .....just awesome ..you can feel...
98,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

In [75]:
driver.close()

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [76]:
# first connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [77]:
# opening flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [78]:
# closing login pop up automated
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button") 
cross.click()

In [79]:
#searching sneakers automated
writesneakers=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
writesneakers.send_keys("sneakers")

search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [80]:
brand=[]
product_description=[]
price=[]
time.sleep(3)

In [81]:
# scraping-we will take data for 3 pages as 1 page show 40 result & we require 100

start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands[0:100]:
        brand.append(i.text)
    
    prod_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod_desc[0:100]:
        product_description.append(i.text)    
    
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices[0:100]:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [82]:
print(len(brand),len(product_description),len(price))

120 120 120

In [83]:
df=pd.DataFrame({'Brand':brand[0:100],'Product_description':product_description[0:100],'Price':price[0:100]})
df

          Brand                                Product_description   Price
0          aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹399
1            TR                                   Sneakers For Men    ₹331
2         BIRDE                                 Sneakers For Women    ₹199
3           SFR                                   Sneakers For Men    ₹298
4          aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹299
..          ...                                                ...     ...
95         aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹599
96       BRUTON             2 Combo Sneaker Shoes Sneakers For Men    ₹499
97  bacca bucci  BALANCER Men's Fashion Sneakers Lace-Up Traine...  ₹1,499
98        BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men    ₹499
99         aadi  Mesh| Ultralightweight| Premiun| Comfort| Summ...    ₹399

[100 rows x 3 columns]

In [84]:
driver.close()

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [85]:
# first connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [86]:
# opening amazon.in page on automated chrome browser
driver.get("https://www.amazon.in/")

In [87]:
# writing and searching laptop automated
laptop=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys('Laptop')

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [88]:
#applying filter i7 cpu automated
ticki7=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[11]/span/a/div/label/i')
ticki7.click()

In [89]:
Title=[]
Ratings=[]
Price=[]

In [90]:
# scraping data for Title, Ratings, Price

title_tags=driver.find_elements(By.XPATH,"//div[@class='a-section a-spacing-none puis-padding-right-small s-title-instructions-style']")
for i in title_tags[0:10]:
    titles=i.text
    Title.append(titles)
    
rating_tags=driver.find_elements(By.XPATH,"//span[@class='a-size-base']")
for i in rating_tags[0:10]:
    rating=i.text
    Ratings.append(rating)
    
price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    prices=i.text
    Price.append(prices)

In [91]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [92]:
df=pd.DataFrame({'Title':Title,'Ratings':Ratings,'Price':Price})
df

                                               Title Ratings     Price
0  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...     4.1    56,990
1  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...     4.1    65,250
2  (Renewed) Dell Latitude E7470 Intel Core i7 6t...     4.0    30,074
3  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...     4.2    82,990
4  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...     4.4    92,500
5  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...     4.0    94,490
6  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...     5.0  1,49,610
7  Lenovo ThinkPad P14s Mobile Workstation 11th G...     5.0  1,03,990
8  (Renewed) Dell Latitude Laptop 5400 Intel Core...     3.3    35,990
9  (Renewed) Dell Latitude Laptop 5400 Intel Core...     3.7    31,990

In [93]:
driver.close()

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [94]:
# first connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [95]:
# opening azquotes.com page on automated chrome browser
driver.get("https://www.azquotes.com/")

In [96]:
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [97]:
Quote=[]
Author=[]
TypeOfQuotes=[]
time.sleep(3)

In [98]:
# scraping-we will take data for 10 pages as 1 page show 100 result & we require all 1000

start=0
end=10
for page in range(start,end):
    quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes:
        Quote.append(i.text)
    
    authors=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in authors:
        Author.append(i.text)    
    
    quote_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quote_type:
        TypeOfQuotes.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')

In [99]:
print(len(Quote),len(Author),len(TypeOfQuotes))

1000 1000 1000

In [100]:
df=pd.DataFrame({'Quotes':Quote,'Author':Author,'Type of quote':TypeOfQuotes })
df

,Quotes,Author,Type of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [101]:
driver.close()

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [102]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [103]:
# opening www.jagranjosh.com/ page on automated chrome browser
driver.get("https://www.jagranjosh.com/")

In [104]:
#click gk button
GKbutton=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
GKbutton.click()

In [107]:
# click on the List of all Prime Ministers of India
PM_list=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
PM_list.click()

In [108]:
Name= []
Born_Dead = []
Terms_of_office = []
Remarks = []

In [109]:
# scraping name
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for name in names:
    Name.append(name.text)
    

# scraping borndead
born_dead = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_dead:
    Born_Dead.append(i.text)
    

# scraping terms_of_office
terms_of_office = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]')
for i in terms_of_office:
    Terms_of_office.append(i.text.replace('\n', ''))
    
    
# scraping Remarks
remarks = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remarks:
    Remarks.append(i.text)

In [110]:
print(len(Name),len(Born_Dead),len(Terms_of_office),len(Remarks))

18 18 18 18

In [111]:
df=pd.DataFrame({"Names":Name,"Born-Dead":Born_Dead,"Term of office":Terms_of_office,"Remarks":Remarks})
df

,Names,Born-Dead,Term of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 196416 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 19661 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 196613 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 197711 years, 59 days",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 19844 years, 291...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 19895 years, 32 ...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 19964 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 199616 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [112]:
driver.close()

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [113]:
# first connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [114]:
driver.get("https://www.motor1.com/")

In [115]:
dropdown=driver.find_element(By.XPATH,"//div[@class='box-item-left']")
dropdown.click()

In [116]:
drop_down2=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button")
drop_down2.click()

In [117]:
lists=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
lists.click()

In [118]:
topexpensive_cars=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a")
topexpensive_cars.click()

In [119]:
Names=[]
Prices=[]

In [120]:
name_tags=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in name_tags[0:50]:
    name=i.text
    Names.append(name)

price_tags=driver.find_elements(By.XPATH,"//strong")
for i in price_tags[0:50]:
    price=i.text
    Prices.append(price)

In [122]:
print(len(Names),len(Prices))

50 50

In [123]:
df=pd.DataFrame({"NAME OF THE CAR":Names,"PRICE OF THE CAR IN ($)":Prices})
df

                    NAME OF THE CAR PRICE OF THE CAR IN ($)
0                     De Tomaso P72     Price: $1.3 Million
1                 Ferrari LaFerrari     Price: $1.4 Million
2                     Pagani Huayra     Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C     Price: $1.7 Million
5                     Ferrari Monza     Price: $1.7 Million
6                Gordon Murray T.33     Price: $1.7 Million
7                 Koenigsegg Gemera     Price: $1.7 Million
8                       Zenvo TSR-S     Price: $1.7 Million
9                Hennessey Venom F5     Price: $1.7 Million
10                  Bentley Bacalar     Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne     Price: $1.9 Million
12           Bentley Mulliner Batur     Price: $1.9 Million
13                     Deus Vayanne     Price: $2.0 Million
14                      SSC Tuatara     Price: $2.0 Million
15                      Lotus Evija    Price: $2.0 Million*
16              Aston Martin Vulcan     Price: $2.1 Million
17                       Delage D12     Price: $2.3 Million
18                McLaren Speedtail     Price: $2.3 Million
19                     Rimac Nevera     Price: $2.3 Million
20                    Pagani Utopia     Price: $2.4 Million
21             Pininfarina Battista     Price: $2.5 Million
22                Ferrari FXX K Evo     Price: $2.5 Million
23               Gordon Murray T.50     Price: $2.6 Million
24             Lamborghini Countach     Price: $2.6 Million
25         Mercedes-AMG Project One     Price: $2.6 Million
26              Aston Martin Victor     Price: $2.7 Million
27      Hennessey Venom F5 Roadster     Price: $3.0 Million
28                 Koenigsegg Jesko            $3.0 Million
29            Aston Martin Valkyrie     Price: $3.0 Million
30        W Motors Lykan Hypersport     Price: $3.2 Million
31                    McLaren Solus     Price: $3.4 Million
32        Pagani Huayra Roadster BC            $3.5 Million
33         Bugatti Chiron Pur Sport     Price: $3.5 Million
34                 Lamborghini Sian     Price: $3.6 Million
35                 Koenigsegg CC850     Price: $3.6 million
36  Bugatti Chiron Super Sport 300+     Price: $3.7 Million
37               Lamborghini Veneno     Price: $3.9 Million
38                   Bugatti Bolide     Price: $4.5 Million
39                  Bugatti Mistral     Price: $4.7 Million
40              Pagani Huayra Imola     Price: $5.0 Million
41                     Bugatti Divo     Price: $5.4 Million
42              SP Automotive Chaos     Price: $5.8 Million
43                 Pagani Codalunga     Price: $6.4 Million
44         Mercedes-Maybach Exelero     Price: $7.4 Million
45               Bugatti Centodieci     Price: $8.0 Million
46          Bugatti Chiron Profilée     Price: $9.0 Million
47             Rolls-Royce Sweptail    Price: $10.8 Million
48         Bugatti La Voiture Noire    Price: $12.8 Million
49           Rolls-Royce Boat Tail*    Price: $13.4 Million

In [ ]:
driver.close()